/*color palette:

#727432 - Spanish Bistere (green)
#0B0602 - Rich Black
#B39571 - Light Taupe
#6B5621 - Field Drab (brown)
#F2DEC5 - Almond

#4D3C10 - Cafe Noir
#2E2409 - ZINNWALDITE BROWN
#B39571 - Light Taupe
#6B5621 - Field Drab (brown)
#FFFAE6 - Cosmis Latte

*/

@font-face {
    font-family: butler;
    src: url(../font/Butler_Black.otf);
}

@font-face {
    font-family: 'open-sans';
    src: url(../font/OpenSans-Regular.ttf);
}

:root {
    --font-heading: 'butler', 'Cinzel', serif;; 
    --font-normal: 'open-sans', sans-serif;
    --link-hover-color: #0B0602;
}

body{
    padding: 0;
    margin: 0;
    color: #0B0602;
    text-align: center;
    font-family: var(--font-normal);
}
h1{
    font-family: var(--font-heading);
    text-align: center;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
}
button{
    background: inherit;
    border: inherit;
    font-family: inherit;
    color: inherit;
    font-size: 2rem;
}
button:focus {
    outline:0;
}
a i{
    color: #FFFAE6;
}
i{
    font-size: 2rem;
}
.loader {
    border: 5px solid #FFFAE6; /* Light grey */
    border-top: 5px solid #2E2409; /* Blue */
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#navigator{
    margin: 0;
    padding: 3px;
    bottom: 0;
    right: 0;
    position: fixed;
}
#navigator ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
#navigator a{
    margin: 0.25em;
    display: inline-block;
    height: 6vh;
    width: 6vh;
    color: #FFFAE6;
}
#navigator a:hover{
    color: inherit;
}
#navigator i{
    margin: 0 auto;
    display: block;
    font-size: 6vh;
}
#banner{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: url("../img/cover_sm.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner-video{
    padding: 0;
    margin: 0 auto;
    height: 50vh;
    width: 88vh;
    max-width: 80vw;
    max-height: 45vw;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 5px 5px 15px black;
}
#links, #navbar ul{
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    padding: 0;
    width: 88vh;
    max-width: 80vw;
    background-color: rgb(0,0,0,0.15);
    justify-content: space-evenly;
    font-family: var(--font-normal);
}
#links li, #navbar li{
    list-style: none;
    /*margin: 5px 20px 5px 20px;*/
    margin: 0.25em 0 0.25em 0;
    font-size: 1.5em;
    padding: 0;
}
#title{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--font-heading);
    font-size: 5em;
    color: #050709;
}
main{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-image: linear-gradient(to right, #F2DEC5, #B39571);
}
section{
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: left;
}
#portrait{
    border-radius: 5px;
    box-shadow: 3px 3px 5px #B39571;
}
blockquote{
    font-style: italic;
}
#eugene-weekly{
    display: block;
    margin-top: 20px;
    font-style: normal;
}
#music{
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("../img/set.jpg") no-repeat fixed center;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
}
#music #bandcamp{
    margin-left: auto;
    margin-right: auto;
}
#media{
    justify-content: center;
}
#media-left{
    background-color: #FFFAE6;
    border-radius: 5px;
    box-shadow: 3px 1px 5px #B39571;
}
#media i{
    margin-right: 10px;
}
#media h2{
    margin: 0;
    padding: 0;
    text-align: center;
}
#media a{
    color: #0B0602;
}
.media-section{
    margin: 0 auto;
    margin-top: 1em;
    padding: 0;
}
.media-section .item{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
.media-section ul{
    margin: 0;
    padding: 0;
    list-style: none;   
}
.media-section li{
    margin-bottom: 0.5em;
    padding: 0;  
}
#live{
    border-radius: 5px;
    box-shadow: 3px 3px 5px #B39571;
}
#events{
    display: block;
    text-align: center;
    background: url("../img/mic.jpg") no-repeat fixed top;
    background-size: cover;
    color: white;
}
#events h2{
    padding-top: 20px;
}
#events table{
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    max-width: 90%;
    border: none;
    font-size: 1.2em;
}
#events tr:nth-child(odd){
    background-color: rgb(255,255,255,0.5);
    color: black;
}
#events tr:nth-child(even){
    background-color: rgb(0,0,0,0.5);
    color: white;
}
#contact{
    display: block;
    text-align: left;
    background: url("../img/sunglasses.jpg") no-repeat fixed right;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}
#contact a{
    color: white;
}
#form{
    position: relative;
    top: 90%;
    transform: translateY(-90%);
    background-color: rgb(0,0,0,0.5);
    border-radius: 5px;
    padding: 1em;
    color: white;
}
footer p{
    margin: 0 auto;
    padding: 0;
    margin-top: -35px;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
}

@media only screen and (max-width: 900px){
    #title{
        color: #FFFAE6;
        font-size: 3em;
    }
    #navbar{
        color: #FFFAE6;
    }
    section{
        display: grid;
        grid-template-rows: 48% 48%;
        justify-content: center;
        align-content: center;
    }
    #about h2{
        margin-bottom: 0.1em;
        text-align: center;
    }
    #about{
        text-align: justify;
    }
    #about p, blockquote{
        font-size: 0.8em;
    }
    #portrait{
        margin: 0 auto;
        padding: 0 auto;
        height: 45vh;
        width: auto;
    }
    #media{
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
    }
    #media-left{
        margin: 0 auto;
        height: auto;
        width: 90vw;
    }
    .media-section ul{
        margin-top: 0.5em;
        font-size: 0.8em;
        text-align: center;
    }
    #live{
        margin: 1em auto;
        height: 30vh;
        width: auto;
    }
}

@media only screen and (min-width: 900px){
    a i:hover{
        color: var(--link-hover-color);
    }
    button:hover{
        cursor: pointer;
        color: #FFFAE6;
    }
    section{
        display: grid;
        grid-template-columns: 40% 40%;
        align-items: center;
        justify-content: center;
    }
    section h2{
        margin: 10px;
        padding: 0;
        font-size: 32px;
    }
    #portrait{
        height: auto;
        width: auto;
        max-height: 60vh;
        max-width: 60vw;
        margin: 20px;
        justify-self: flex-end;
    }
    #about p{
        margin: 10px;
    }
    blockquote{
        padding: 20px;
    }
    #live{
        margin-right: auto;
        margin-left: auto;
        margin-left: 10px;
        height: 50vh;
        width: auto;
    }
    #media h2{
        margin-bottom: 1em;
        padding-top: 1em;
    }
    .media-section{
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
    }
    #media-left{
        min-height: 70vh;
        max-height: 90vh;
    }
    #media a:hover{
        color: #727432;
    }
}